@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.title {
  margin: 0 auto 36px;
  width: 100%;
  max-width: 1120px;
  letter-spacing: 0.15px;
  align-self: flex-start;

  @include showFonts(
    $family: Unbounded,
    $size: 30px,
    $color: $color-text-primary,
    $line-height: 31.8px,
    $weight: 700,
  );

}