.button-like {
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform .2s ease-in;
  width: 21.98px;
  height: 20.32px;
  background: inherit;
}

.button-like:hover {
  transform: scale(1.3);
}

/* Cтили для кнопоки в Storybook */
// #storybook-root > .button-like {width
//   height: 52px;heightheightheightheightheight
// }
// #story--uikit-buttons-buttonlike--primary--primary-inner, #story--uikit-buttons-buttonlike--primary-inner{
//   background-color: rgb(232 230 230 / 0.695);background-colorbackground-colorbackground-colorbackground-colorbackground-color
// }
