@use '../../../assets/styles/mixins' as *;

@use '../../../assets/styles/variables' as *;

.category-tab {
  height: 36px;
  width: auto;
  display: flex;
  gap: 8px;
  cursor: pointer;
  transition: all .2s ease;
  
  &:hover {
    opacity: .7;
  }

  &__text {
    color: var(--black, #191919);
    font-feature-settings: "clig" off, "liga" off;
    display: flex;
    align-items: center;

    @include showFonts(
        $family: Nunito,
        $size: 20px,
        $color: $color-text-primary,
        $line-height: 22px,
        $weight: 600
    );
  }
}