@use '../../../assets/styles/variables' as *;

@use '../../../assets/styles/mixins' as *;

.month {
  margin-right: 26px;

  &:last-of-type {
    margin-right: 0;
  }

  &__name {
    margin-bottom: 20px;
    cursor: pointer;
    max-width: 80px;
    text-decoration: underline;
    position: sticky;
    top: 0;
    z-index: 2;

    @include showFonts(
      $family:'Nunito Sans',
      $size: 18px,
      $color: $color-text-primary,
      $line-height: 22px,
    );

    &::first-letter {
      text-transform: uppercase;
    }
  }
}


.dates {
  display: flex;
  transition: transform 0.5s ease;
}

.date {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 13.6px;
  cursor: pointer;
  width: 33px;

  &:last-of-type {
    margin-right: 0;
  }

  
  
  &__day {
    margin-bottom: 2px;
    padding: 4px 0;
    
    @include showFonts(
      $family:'Nunito Sans',
      $size: 18px,
      $color: $color-text-primary,
      $line-height: 22px,
      $weight: 700
      );
    }

    &__selected {
      background: #8B52F6;
      border-radius: 50%;
      color: #FFF;
    }
    
    &__weekday {
      font-family: Nunito Sans;
      font-weight: 400;
      line-height: 18px;
      font-size: 12px;

      @include showFonts(
        $family:'Nunito Sans',
        $size: 12px,
        $color: $color-text-primary,
        $line-height: 18px,
        );
      }

      &__weekend {
        color: #EA3057;
      }
}


