// color text
$color-text-primary: #191919;
$color-text-second: #8B52F6;
$color-text-error: #EA3057;

// color background
$color-background-primary: #FFF;
$color-background-second: rgba(154, 154, 154, 0.1);
$color-background-gray: #4C4F52;
$color-background-gray-opacity: #9A9A9A;
$color-background-violet: #8B52F6;
$color-background-gradiend-black: linear-gradient(180deg, #191919 49.13%, #5F3CA1 132.86%);

%indents-reset {
  margin: 0;
  padding: 0;
}